################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/other
/lab5/obj
/lab5/bin
/lab05/bin
/lab05/obj
/lab06/bin
/lab06/obj
/lab07/obj

*.config
*.fs
*.user

/packages