################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/lab5/obj
/lab5/bin/Debug/netcoreapp3.1
/ConsoleApplication22
/ЛР5_5
/ConsoleApplication23
/lab05/bin/Debug/netcoreapp3.1
/lab05/obj
/lab06/bin/Debug
/lab06/obj
*.config
*.fs
*.user
/packages/System.ValueTuple.4.3.1
/lab07/obj
