################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/lab5/obj
/lab5/bin/Debug/netcoreapp3.1
